.emo-copied {
	position:absolute;
}
.emo-list {
	position: relative;
}
.emo-list span, .emo-preview span, .emo-copied span  {
width: 24px;
height: 17px;
font-size: 138.5%;
line-height: 16px;
display: inline-block;
_display: inline;
text-align: center;
margin: 0 5px 5px 0;
overflow: hidden;
text-indent: -999em;
border: 1px solid transparent;
cursor: pointer;
background-position-x: 3px;
}
.emo-preview span {
	margin:0;
}
.emo-list span:hover, .emo-list span.hover {
	border-color: #337ab7;
}
.emo {
  background-image: url(fbemos.png);
}
.emo2b06{background-position:0 -7510px;}
.emo2b07{background-position:0 -7527px;}
.emo2b05{background-position:0 -7493px;}
.emo27a1{background-position:0 -7425px;}
.emo2197{background-position:0 -6524px;}
.emo2196{background-position:0 -6507px;}
.emo2198{background-position:0 -6541px;}
.emo2199{background-position:0 -6558px;}
.emo2935{background-position:0 -7476px;}
.emo2934{background-position:0 -7459px;}
.emo1f199{background-position:0 -64px;}
.emo1f192{background-position:0 -47px;}
.emo1f4f6{background-position:0 -4688px;}
.emo1f3a6{background-position:0 -1526px;}
.emo1f201{background-position:0 -98px;}
.emo1f22f{background-position:0 -149px;}
.emo1f233{background-position:0 -166px;}
.emo1f235{background-position:0 -183px;}
.emo1f250{background-position:0 -285px;}
.emo1f239{background-position:0 -251px;}
.emo1f23a{background-position:0 -268px;}
.emo1f236{background-position:0 -200px;}
.emo1f21a{background-position:0 -132px;}
.emo1f6bb{background-position:0 -6422px;}
.emo1f6b9{background-position:0 -6388px;}
.emo1f6ba{background-position:0 -6405px;}
.emo1f6bc{background-position:0 -6439px;}
.emo1f6be{background-position:0 -6473px;}
.emo267f{background-position:0 -6881px;}
.emo1f6ad{background-position:0 -6354px;}
.emo1f237{background-position:0 -217px;}
.emo1f238{background-position:0 -234px;}
.emo1f202{background-position:0 -115px;}
.emo3299{background-position:0 -7646px;}
.emo3297{background-position:0 -7629px;}
.emo1f51e{background-position:0 -4926px;}
.emo26d4{background-position:0 -7017px;}
.emo2733{background-position:0 -7272px;}
.emo274e{background-position:0 -7323px;}
.emo2734{background-position:0 -7289px;}
.emo1f49f{background-position:0 -4008px;}
.emo1f19a{background-position:0 -81px;}
.emo1f4f3{background-position:0 -4654px;}
.emo1f4f4{background-position:0 -4671px;}
.emo1f4a0{background-position:0 -4025px;}
.emo27bf{background-position:0 -7442px;}
.emo1f3e7{background-position:0 -1985px;}
.emo1f4b2{background-position:0 -4212px;}
.emo274c{background-position:0 -7306px;}
.emo2757{background-position:0 -7391px;}
.emo2753{background-position:0 -7340px;}
.emo2755{background-position:0 -7374px;}
.emo2754{background-position:0 -7357px;}
.emo2b55{background-position:0 -7595px;}
.emo2716{background-position:0 -7238px;}
.emo2660{background-position:0 -6796px;}
.emo2665{background-position:0 -6830px;}
.emo2663{background-position:0 -6813px;}
.emo2666{background-position:0 -6847px;}
.emo303d{background-position:0 -7612px;}
.emo1f531{background-position:0 -5011px;}
.emo25fc{background-position:0 -6626px;}
.emo25fb{background-position:0 -6609px;}
.emo25fe{background-position:0 -6660px;}
.emo25fd{background-position:0 -6643px;}
.emo25aa{background-position:0 -6575px;}
.emo25ab{background-position:0 -6592px;}
.emo1f532{background-position:0 -5028px;}
.emo1f533{background-position:0 -5045px;}
.emo26ab{background-position:0 -6949px;}
.emo26aa{background-position:0 -6932px;}
.emo1f534{background-position:0 -5062px;}
.emo1f535{background-position:0 -5079px;}
.emo2b1c{background-position:0 -7561px;}
.emo2b1b{background-position:0 -7544px;}
.emo1f536{background-position:0 -5096px;}
.emo1f537{background-position:0 -5113px;}
.emo1f538{background-position:0 -5130px;}
.emo1f539{background-position:0 -5147px;}
.emo1f436{background-position:0 -2614px;}
.emo1f43a{background-position:0 -2682px;}
.emo1f431{background-position:0 -2546px;}
.emo1f42d{background-position:0 -2478px;}
.emo1f439{background-position:0 -2665px;}
.emo1f430{background-position:0 -2529px;}
.emo1f438{background-position:0 -2648px;}
.emo1f42f{background-position:0 -2512px;}
.emo1f428{background-position:0 -2410px;}
.emo1f43b{background-position:0 -2699px;}
.emo1f437{background-position:0 -2631px;}
.emo1f42e{background-position:0 -2495px;}
.emo1f417{background-position:0 -2223px;}
.emo1f435{background-position:0 -2597px;}
.emo1f412{background-position:0 -2189px;}
.emo1f434{background-position:0 -2580px;}
.emo1f411{background-position:0 -2172px;}
.emo1f418{background-position:0 -2240px;}
.emo1f427{background-position:0 -2393px;}
.emo1f426{background-position:0 -2376px;}
.emo1f425{background-position:0 -2359px;}
.emo1f414{background-position:0 -2206px;}
.emo1f40d{background-position:0 -2138px;}
.emo1f41b{background-position:0 -2291px;}
.emo1f419{background-position:0 -2257px;}
.emo1f41a{background-position:0 -2274px;}
.emo1f420{background-position:0 -2325px;}
.emo1f41f{background-position:0 -2308px;}
.emo1f42c{background-position:0 -2461px;}
.emo1f433{background-position:0 -2563px;}
.emo1f40e{background-position:0 -2155px;}
.emo1f421{background-position:0 -2342px;}
.emo1f42b{background-position:0 -2444px;}
.emo1f429{background-position:0 -2427px;}
.emo1f43e{background-position:0 -2716px;}
.emo1f490{background-position:0 -3770px;}
.emo1f338{background-position:0 -557px;}
.emo1f337{background-position:0 -540px;}
.emo1f340{background-position:0 -642px;}
.emo1f339{background-position:0 -574px;}
.emo1f33b{background-position:0 -608px;}
.emo1f33a{background-position:0 -591px;}
.emo1f341{background-position:0 -659px;}
.emo1f343{background-position:0 -693px;}
.emo1f342{background-position:0 -676px;}
.emo1f33e{background-position:0 -625px;}
.emo1f335{background-position:0 -523px;}
.emo1f334{background-position:0 -506px;}
.emo1f331{background-position:0 -489px;}
.emo1f319{background-position:0 -455px;}
.emo2b50{background-position:0 -7578px;}
.emo2600{background-position:0 -6677px;}
.emo2601{background-position:0 -6694px;}
.emo26a1{background-position:0 -6915px;}
.emo2614{background-position:0 -6728px;}
.emo26c4{background-position:0 -7000px;}
.emo1f300{background-position:0 -302px;}
.emo1f308{background-position:0 -421px;}
.emo1f30a{background-position:0 -438px;}
.emo1f38d{background-position:0 -1356px;}
.emo1f49d{background-position:0 -3974px;}
.emo1f38e{background-position:0 -1373px;}
.emo1f392{background-position:0 -1424px;}
.emo1f393{background-position:0 -1441px;}
.emo1f38f{background-position:0 -1390px;}
.emo1f390{background-position:0 -1407px;}
.emo1f383{background-position:0 -1254px;}
.emo1f47b{background-position:0 -3464px;}
.emo1f385{background-position:0 -1288px;}
.emo1f384{background-position:0 -1271px;}
.emo1f381{background-position:0 -1237px;}
.emo1f389{background-position:0 -1322px;}
.emo1f388{background-position:0 -1305px;}
.emo1f38c{background-position:0 -1339px;}
.emo1f3a5{background-position:0 -1509px;}
.emo1f4f7{background-position:0 -4705px;}
.emo1f4fc{background-position:0 -4756px;}
.emo1f4bf{background-position:0 -4348px;}
.emo1f4c0{background-position:0 -4365px;}
.emo1f4bd{background-position:0 -4314px;}
.emo1f4be{background-position:0 -4331px;}
.emo1f4bb{background-position:0 -4280px;}
.emo1f4f1{background-position:0 -4620px;}
.emo260e{background-position:0 -6711px;}
.emo1f4de{background-position:0 -4416px;}
.emo1f4e0{background-position:0 -4433px;}
.emo1f4e1{background-position:0 -4450px;}
.emo1f4fa{background-position:0 -4722px;}
.emo1f4fb{background-position:0 -4739px;}
.emo1f508{background-position:0 -4773px;}
.emo1f514{background-position:0 -4909px;}
.emo1f4e2{background-position:0 -4467px;}
.emo1f4e3{background-position:0 -4484px;}
.emo1f513{background-position:0 -4892px;}
.emo1f512{background-position:0 -4875px;}
.emo1f50f{background-position:0 -4824px;}
.emo1f510{background-position:0 -4841px;}
.emo1f511{background-position:0 -4858px;}
.emo1f50e{background-position:0 -4807px;}
.emo1f4a1{background-position:0 -4042px;}
.emo1f50d{background-position:0 -4790px;}
.emo1f6c0{background-position:0 -6490px;}
.emo1f6bd{background-position:0 -6456px;}
.emo1f528{background-position:0 -4960px;}
.emo1f6ac{background-position:0 -6337px;}
.emo1f4a3{background-position:0 -4076px;}
.emo1f52b{background-position:0 -4977px;}
.emo1f48a{background-position:0 -3668px;}
.emo1f489{background-position:0 -3651px;}
.emo1f4b0{background-position:0 -4195px;}
.emo1f4b4{background-position:0 -4229px;}
.emo1f4b5{background-position:0 -4246px;}
.emo1f4f2{background-position:0 -4637px;}
.emo2709{background-position:0 -7170px;}
.emo1f4e9{background-position:0 -4518px;}
.emo1f4e8{background-position:0 -4501px;}
.emo1f4eb{background-position:0 -4552px;}
.emo1f4ea{background-position:0 -4535px;}
.emo1f4ec{background-position:0 -4569px;}
.emo1f4ed{background-position:0 -4586px;}
.emo1f4ee{background-position:0 -4603px;}
.emo1f4dd{background-position:0 -4399px;}
.emo2702{background-position:0 -7136px;}
.emo1f4d6{background-position:0 -4382px;}
.emo1f3a8{background-position:0 -1560px;}
.emo1f3ac{background-position:0 -1611px;}
.emo1f3a4{background-position:0 -1492px;}
.emo1f3a7{background-position:0 -1543px;}
.emo1f3bc{background-position:0 -1764px;}
.emo1f3b5{background-position:0 -1679px;}
.emo1f3b6{background-position:0 -1696px;}
.emo1f3ba{background-position:0 -1747px;}
.emo1f3b7{background-position:0 -1713px;}
.emo1f3b8{background-position:0 -1730px;}
.emo1f47e{background-position:0 -3515px;}
.emo1f004{background-position:0 -30px;}
.emo1f3af{background-position:0 -1645px;}
.emo1f3c8{background-position:0 -1866px;}
.emo1f3c0{background-position:0 -1815px;}
.emo26bd{background-position:0 -6966px;}
.emo26be{background-position:0 -6983px;}
.emo1f3be{background-position:0 -1781px;}
.emo1f3b1{background-position:0 -1662px;}
.emo26f3{background-position:0 -7068px;}
.emo1f3c1{background-position:0 -1832px;}
.emo1f3c6{background-position:0 -1849px;}
.emo1f3bf{background-position:0 -1798px;}
.emo2615{background-position:0 -6745px;}
.emo1f375{background-position:0 -1135px;}
.emo1f376{background-position:0 -1152px;}
.emo1f37a{background-position:0 -1186px;}
.emo1f37b{background-position:0 -1203px;}
.emo1f378{background-position:0 -1169px;}
.emo1f374{background-position:0 -1118px;}
.emo1f354{background-position:0 -812px;}
.emo1f35f{background-position:0 -948px;}
.emo1f35d{background-position:0 -914px;}
.emo1f35b{background-position:0 -880px;}
.emo1f371{background-position:0 -1067px;}
.emo1f363{background-position:0 -999px;}
.emo1f359{background-position:0 -846px;}
.emo1f358{background-position:0 -829px;}
.emo1f35a{background-position:0 -863px;}
.emo1f35c{background-position:0 -897px;}
.emo1f372{background-position:0 -1084px;}
.emo1f362{background-position:0 -982px;}
.emo1f361{background-position:0 -965px;}
.emo1f373{background-position:0 -1101px;}
.emo1f35e{background-position:0 -931px;}
.emo1f366{background-position:0 -1016px;}
.emo1f367{background-position:0 -1033px;}
.emo1f370{background-position:0 -1050px;}
.emo1f34e{background-position:0 -778px;}
.emo1f34a{background-position:0 -761px;}
.emo1f349{background-position:0 -744px;}
.emo1f353{background-position:0 -795px;}
.emo1f346{background-position:0 -727px;}
.emo1f345{background-position:0 -710px;}
.emo1f3e0{background-position:0 -1883px;}
.emo1f3e1{background-position:0 -1900px;}
.emo1f3eb{background-position:0 -2053px;}
.emo1f3e2{background-position:0 -1917px;}
.emo1f3e3{background-position:0 -1934px;}
.emo1f3e5{background-position:0 -1951px;}
.emo1f3e6{background-position:0 -1968px;}
.emo1f3ea{background-position:0 -2036px;}
.emo1f3e9{background-position:0 -2019px;}
.emo1f3e8{background-position:0 -2002px;}
.emo1f492{background-position:0 -3804px;}
.emo26ea{background-position:0 -7034px;}
.emo1f3ec{background-position:0 -2070px;}
.emo1f307{background-position:0 -404px;}
.emo1f306{background-position:0 -387px;}
.emo1f3ef{background-position:0 -2104px;}
.emo1f3f0{background-position:0 -2121px;}
.emo26fa{background-position:0 -7102px;}
.emo1f3ed{background-position:0 -2087px;}
.emo1f5fc{background-position:0 -5181px;}
.emo1f5fb{background-position:0 -5164px;}
.emo1f304{background-position:0 -353px;}
.emo1f305{background-position:0 -370px;}
.emo1f303{background-position:0 -336px;}
.emo1f5fd{background-position:0 -5198px;}
.emo1f3a1{background-position:0 -1458px;}
.emo26f2{background-position:0 -7051px;}
.emo1f3a2{background-position:0 -1475px;}
.emo1f6a2{background-position:0 -6269px;}
.emo26f5{background-position:0 -7085px;}
.emo1f6a4{background-position:0 -6286px;}
.emo1f680{background-position:0 -6031px;}
.emo2708{background-position:0 -7153px;}
.emo1f4ba{background-position:0 -4263px;}
.emo1f689{background-position:0 -6099px;}
.emo1f684{background-position:0 -6065px;}
.emo1f685{background-position:0 -6082px;}
.emo1f683{background-position:0 -6048px;}
.emo1f68c{background-position:0 -6116px;}
.emo1f699{background-position:0 -6235px;}
.emo1f697{background-position:0 -6218px;}
.emo1f695{background-position:0 -6201px;}
.emo1f69a{background-position:0 -6252px;}
.emo1f693{background-position:0 -6184px;}
.emo1f692{background-position:0 -6167px;}
.emo1f691{background-position:0 -6150px;}
.emo1f6b2{background-position:0 -6371px;}
.emo1f488{background-position:0 -3634px;}
.emo1f68f{background-position:0 -6133px;}
.emo1f3ab{background-position:0 -1594px;}
.emo1f6a5{background-position:0 -6303px;}
.emo26a0{background-position:0 -6898px;}
.emo1f6a7{background-position:0 -6320px;}
.emo1f530{background-position:0 -4994px;}
.emo26fd{background-position:0 -7119px;}
.emo2668{background-position:0 -6864px;}
.emo1f3ad{background-position:0 -1628px;}
.emo1f604{background-position:0 -5266px;}
.emo1f603{background-position:0 -5249px;}
.emo1f60a{background-position:0 -5317px;}
.emo263a{background-position:0 -6779px;}
.emo1f609{background-position:0 -5300px;}
.emo1f60d{background-position:0 -5351px;}
.emo1f618{background-position:0 -5453px;}
.emo1f61a{background-position:0 -5470px;}
.emo1f61c{background-position:0 -5487px;}
.emo1f61d{background-position:0 -5504px;}
.emo1f633{background-position:0 -5776px;}
.emo1f601{background-position:0 -5215px;}
.emo1f614{background-position:0 -5419px;}
.emo1f60c{background-position:0 -5334px;}
.emo1f612{background-position:0 -5385px;}
.emo1f61e{background-position:0 -5521px;}
.emo1f623{background-position:0 -5589px;}
.emo1f622{background-position:0 -5572px;}
.emo1f602{background-position:0 -5232px;}
.emo1f62d{background-position:0 -5708px;}
.emo1f62a{background-position:0 -5674px;}
.emo1f625{background-position:0 -5623px;}
.emo1f630{background-position:0 -5725px;}
.emo1f613{background-position:0 -5402px;}
.emo1f629{background-position:0 -5657px;}
.emo1f62b{background-position:0 -5691px;}
.emo1f628{background-position:0 -5640px;}
.emo1f631{background-position:0 -5742px;}
.emo1f620{background-position:0 -5538px;}
.emo1f621{background-position:0 -5555px;}
.emo1f624{background-position:0 -5606px;}
.emo1f616{background-position:0 -5436px;}
.emo1f606{background-position:0 -5283px;}
.emo1f637{background-position:0 -5810px;}
.emo1f635{background-position:0 -5793px;}
.emo1f632{background-position:0 -5759px;}
.emo1f47f{background-position:0 -3532px;}
.emo1f60f{background-position:0 -5368px;}
.emo1f472{background-position:0 -3345px;}
.emo1f473{background-position:0 -3362px;}
.emo1f46e{background-position:0 -3294px;}
.emo1f477{background-position:0 -3430px;}
.emo1f482{background-position:0 -3566px;}
.emo1f476{background-position:0 -3413px;}
.emo1f466{background-position:0 -3209px;}
.emo1f467{background-position:0 -3226px;}
.emo1f468{background-position:0 -3243px;}
.emo1f469{background-position:0 -3260px;}
.emo1f474{background-position:0 -3379px;}
.emo1f475{background-position:0 -3396px;}
.emo1f471{background-position:0 -3328px;}
.emo1f47c{background-position:0 -3481px;}
.emo1f478{background-position:0 -3447px;}
.emo1f63a{background-position:0 -5861px;}
.emo1f638{background-position:0 -5827px;}
.emo1f63b{background-position:0 -5878px;}
.emo1f63d{background-position:0 -5912px;}
.emo1f63c{background-position:0 -5895px;}
.emo1f640{background-position:0 -5946px;}
.emo1f63f{background-position:0 -5929px;}
.emo1f639{background-position:0 -5844px;}
.emo1f480{background-position:0 -3549px;}
.emo1f47d{background-position:0 -3498px;}
.emo1f4a9{background-position:0 -4161px;}
.emo1f525{background-position:0 -4943px;}
.emo2728{background-position:0 -7255px;}
.emo1f31f{background-position:0 -472px;}
.emo1f4a2{background-position:0 -4059px;}
.emo1f4a6{background-position:0 -4110px;}
.emo1f4a7{background-position:0 -4127px;}
.emo1f4a4{background-position:0 -4093px;}
.emo1f4a8{background-position:0 -4144px;}
.emo1f442{background-position:0 -2750px;}
.emo1f440{background-position:0 -2733px;}
.emo1f443{background-position:0 -2767px;}
.emo1f445{background-position:0 -2801px;}
.emo1f444{background-position:0 -2784px;}
.emo1f44d{background-position:0 -2937px;}
.emo1f44e{background-position:0 -2954px;}
.emo1f44c{background-position:0 -2920px;}
.emo1f44a{background-position:0 -2886px;}
.emo270a{background-position:0 -7187px;}
.emo270c{background-position:0 -7221px;}
.emo1f44b{background-position:0 -2903px;}
.emo270b{background-position:0 -7204px;}
.emo1f450{background-position:0 -2988px;}
.emo1f446{background-position:0 -2818px;}
.emo1f447{background-position:0 -2835px;}
.emo1f449{background-position:0 -2869px;}
.emo1f448{background-position:0 -2852px;}
.emo1f64c{background-position:0 -5980px;}
.emo1f64f{background-position:0 -6014px;}
.emo261d{background-position:0 -6762px;}
.emo1f44f{background-position:0 -2971px;}
.emo1f4aa{background-position:0 -4178px;}
.emo1f483{background-position:0 -3583px;}
.emo1f46b{background-position:0 -3277px;}
.emo1f48f{background-position:0 -3753px;}
.emo1f491{background-position:0 -3787px;}
.emo1f46f{background-position:0 -3311px;}
.emo1f64b{background-position:0 -5963px;}
.emo1f485{background-position:0 -3617px;}
.emo1f64d{background-position:0 -5997px;}
.emo1f3a9{background-position:0 -1577px;}
.emo1f451{background-position:0 -3005px;}
.emo1f452{background-position:0 -3022px;}
.emo1f45f{background-position:0 -3141px;}
.emo1f461{background-position:0 -3175px;}
.emo1f460{background-position:0 -3158px;}
.emo1f462{background-position:0 -3192px;}
.emo1f455{background-position:0 -3056px;}
.emo1f454{background-position:0 -3039px;}
.emo1f457{background-position:0 -3073px;}
.emo1f458{background-position:0 -3090px;}
.emo1f459{background-position:0 -3107px;}
.emo1f4bc{background-position:0 -4297px;}
.emo1f45c{background-position:0 -3124px;}
.emo1f380{background-position:0 -1220px;}
.emo1f302{background-position:0 -319px;}
.emo1f484{background-position:0 -3600px;}
.emo1f49b{background-position:0 -3940px;}
.emo1f499{background-position:0 -3906px;}
.emo1f49c{background-position:0 -3957px;}
.emo1f49a{background-position:0 -3923px;}
.emo2764{background-position:0 -7408px;}
.emo1f494{background-position:0 -3838px;}
.emo1f497{background-position:0 -3872px;}
.emo1f493{background-position:0 -3821px;}
.emo1f496{background-position:0 -3855px;}
.emo1f49e{background-position:0 -3991px;}
.emo1f498{background-position:0 -3889px;}
.emo1f48c{background-position:0 -3702px;}
.emo1f48b{background-position:0 -3685px;}
.emo1f48d{background-position:0 -3719px;}
.emo1f48e{background-position:0 -3736px;}
.emosmile{background-position:0 -7986px;}
.emofrown{background-position:0 -7765px;}
.emotongue{background-position:0 -8037px;}
.emogrin{background-position:0 -7816px;}
.emogasp{background-position:0 -7782px;}
.emowink{background-position:0 -8088px;}
.emoglasses{background-position:0 -7799px;}
.emosunglasses{background-position:0 -8020px;}
.emogrumpy{background-position:0 -7833px;}
.emounsure{background-position:0 -8054px;}
.emocry{background-position:0 -7731px;}
.emodevil{background-position:0 -7748px;}
.emoangel{background-position:0 -7663px;}
.emokiss{background-position:0 -7884px;}
.emoheart{background-position:0 -7850px;}
.emokiki{background-position:0 -7867px;}
.emosquint{background-position:0 -8003px;}
.emoconfused{background-position:0 -7697px;}
.emoconfused_rev{background-position:0 -7714px;}
.emoupset{background-position:0 -8071px;}
.emopacman{background-position:0 -7901px;}
.emorobot{background-position:0 -8122px;}
.emocolonthree{background-position:0 -7680px;}
.emopenguin{background-position:0 -7918px;}
.emoputnam{background-position:0 -7952px;}
.emoshark{background-position:0 -7969px;}
.emolike{background-position:0 -13px;}
.emopoop{background-position:0 -7935px;}